[submodule "roles/ansible-role-firmware-updates"]
	path = roles/ansible-role-firmware-updates
	url = git@github.com:mantti/ansible-role-firmware-updates.git
[submodule "roles/ansible-role-serial-console-root"]
	path = roles/ansible-role-serial-console-root
	url = git@github.com:mantti/ansible-role-serial-console-root.git
[submodule "roles/local-customization-login"]
	path = roles/local-customization-login
	url = git@github.com:mantti/ansible-role-local-customization-login.git
[submodule "roles/local-customization"]
	path = roles/local-customization
	url = git@github.com:mantti/ansible-role-local-customization.git
[submodule "roles/local-customization-install"]
	path = roles/local-customization-install
	url = git@github.com:mantti/ansible-role-local-customization-install.git
