Host *
ForwardAgent yes
ForwardX11 no
ForwardX11Trusted no
StrictHostKeyChecking no
GSSAPIAuthentication no
ControlMaster auto
ControlPersist 10h
PasswordAuthentication no
ServerAliveInterval 60
TCPKeepAlive yes
#User mmoa
#Ciphers aes128-ctr,aes192-ctr,aes256-ctr,arcfour256,arcfour128,aes128-cbc,3des-cbc
#HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-ed25519,ecdsa-sha2-nistp256-cert-v01@openssh.com,ecdsa-sha2-nistp384-cert-v01@openssh.com,ecdsa-sha2-nistp521-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521,ssh-rsa

# login
Host login
ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p
Hostname narvi.cc.tut.fi

# Merope-admin
Host merope-admin.cc.tut.fi
        User mmoa
        IdentityFile    ~/.ssh/midas_rsa
        ForwardX11              yes

Host merope-admin
        Hostname merope-admin.cc.tut.fi
        User mmoa
        IdentityFile    ~/.ssh/midas_rsa

Host merope-install
        User root
        IdentityFile ~/.ssh/kari_rsa
        ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p
        GSSAPIAuthentication no
        HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-ed25519,ecdsa-sha2-nistp256-cert-v01@openssh.com,ecdsa-sha2-nistp384-cert-v01@openssh.com,ecdsa-sha2-nistp521-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521,ssh-rsa

		# HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-ed25519,ecdsa-sha2-nistp256-cert-v01@openssh.com,ecdsa-sha2-nistp384-cert-v01@openssh.com,ecdsa-sha2-nistp521-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521,ssh-ed25519,ssh-rsa

# admin
Host admin
Hostname narvi-admin.cc.tut.fi

# nfs
Host narvi-nfs
ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p
Hostname narvi-nfs

# merope-nfs
Host merope-nfs?
        User root
		IdentityFile ~/.ssh/kari_rsa
		ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p
		GSSAPIAuthentication no

# merope-nfs
Host merope-nfs6-ib
		ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p
		IdentityFile ~/.ssh/kari_rsa
		Hostname merope-nfs6-ib

# scratch
Host scratch
		ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p
		IdentityFile ~/.ssh/kari_rsa
		Hostname scratch
        User root

# merope-login
Host narvi-shell
        User root
		IdentityFile ~/.ssh/kari_rsa
		Hostname narvi-shell.cc.tut.fi
#		ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p

# install
Host install
# ProxyCommand ssh -F ssh.config -q narvi-admin.cc.tut.fi -W %h:%p
Hostname narvi-install.cc.tut.fi

# grid
Host grid
# ProxyCommand ssh -F ssh.config -q narvi-admin.cc.tut.fi -W %h:%p
Hostname narvi-grid.cc.tut.fi

# compute *
Host na??
        User root
	#	IdentityFile ~/.ssh/kari_rsa
		IdentityFile ~/.ssh/narvi_id
		ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p

Host me4
        User root
		IdentityFile ~/.ssh/kari_rsa
		ProxyCommand ssh -q merope-install.cc.tut.fi -W %h:%p
		GSSAPIAuthentication no

Host me?
        User root
		IdentityFile ~/.ssh/kari_rsa
		ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p
		GSSAPIAuthentication no

Host cp1
        User cloud-user
        IdentityFile ~/.ssh/kari_rsa
        GSSAPIAuthentication no
        Hostname 86.50.170.222

Host ep1
        User cloud-user
        IdentityFile ~/.ssh/epouta
        GSSAPIAuthentication no
		ProxyCommand ssh -F ssh.config -q narvi.cc.tut.fi -W %h:%p
        Hostname 130.230.49.12

Host ep2
        User cloud-user
        IdentityFile ~/.ssh/ePouta_test.key
        GSSAPIAuthentication no
		ProxyCommand ssh -F ssh.config -q narvi.cc.tut.fi -W %h:%p
        Hostname 130.230.49.8

Host ep3
        User cloud-user
        IdentityFile ~/.ssh/ePouta_test.key
        GSSAPIAuthentication no
		ProxyCommand ssh -F ssh.config -q narvi.cc.tut.fi -W %h:%p
        Hostname 130.230.49.7


Host me??
        User root
		IdentityFile ~/.ssh/kari_rsa
		ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p
		GSSAPIAuthentication no

Host me???
        User root
		IdentityFile ~/.ssh/kari_rsa
		ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p

Host workfs?
        User root
		IdentityFile ~/.ssh/kari_rsa
		ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p

Host beegfs-vma
        User root
		IdentityFile ~/.ssh/kari_rsa
		ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p

Host esxi
        User root
		IdentityFile ~/.ssh/kari_rsa
		ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p
# GPU node
Host gpu
	Hostname nag

Host carina
        User root
		IdentityFile ~/.ssh/kari_rsa
		ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p

Host ca?
        User root
		IdentityFile ~/.ssh/kari_rsa
		ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p

Host nag??
        User root
		IdentityFile ~/.ssh/kari_rsa
		ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p

Host bigmem
        User root
		IdentityFile ~/.ssh/kari_rsa
		ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p

Host narvi-install.cc.tut.fi
        User mmoa
        IdentityFile ~/.ssh/narvi_id
        #IdentityFile ~/.ssh/kari_rsa

Host narvi-install
        User mmoa
        #IdentityFile ~/.ssh/kari_rsa
        IdentityFile ~/.ssh/narvi_id
        HostName narvi-install.cc.tut.fi

Host narvi-grid.cc.tut.fi
        User root
        IdentityFile ~/.ssh/kari_rsa

Host narvi-grid
        User root
        IdentityFile ~/.ssh/kari_rsa
        HostName narvi-grid.cc.tut.fi

Host narvi-admin.cc.tut.fi
        User root
        IdentityFile ~/.ssh/kari_rsa
#       ProxyCommand ssh -q merope-install.cc.tut.fi -W %h:%p

Host narvi-nfs
        User root
        IdentityFile ~/.ssh/kari_rsa
        ProxyCommand ssh -q narvi-admin.cc.tut.fi -W %h:%p

Host narvi-nfs?
        User root
        IdentityFile ~/.ssh/kari_rsa
        ProxyCommand ssh -q narvi-admin.cc.tut.fi -W %h:%p

Host oss??
        User root
        IdentityFile ~/.ssh/kari_rsa
        ProxyCommand ssh -q narvi-install.cc.tut.fi -W %h:%p

Host mds??
        User root
        IdentityFile ~/.ssh/kari_rsa
        ProxyCommand ssh -q narvi-install.cc.tut.fi -W %h:%p

Host narvi.cc.tut.fi
        User root
        IdentityFile ~/.ssh/kari_rsa

Host narvi
        User root
        IdentityFile ~/.ssh/kari_rsa
        HostName narvi.cc.tut.fi

Host narvi-admin
        User root
        IdentityFile ~/.ssh/kari_rsa
        HostName narvi-admin.cc.tut.fi
