# Host *
ForwardAgent yes
ForwardX11 no
ForwardX11Trusted no
StrictHostKeyChecking no
GSSAPIAuthentication no
ControlMaster auto
ControlPersist 10h
PasswordAuthentication no
ServerAliveInterval 60
TCPKeepAlive yes
Ciphers aes128-ctr,aes192-ctr,aes256-ctr,arcfour256,arcfour128,aes128-cbc,3des-cbc

########################
#
# NARVI
#
########################
# install

Host install
	Hostname narvi-install.cc.tut.fi

Host narvi-install
        User kipa
        IdentityFile /home/kipa/.ssh/id_rsa-tcsc
        HostName narvi-install.cc.tut.fi
#       ProxyCommand ssh -q merope-install.cc.tut.fi -W %h:%p

#
# workfs
#

Host workfs?
	User root
	IdentityFile /home/kipa/.ssh/id_rsa-tcsc-r
	ProxyCommand ssh -F ssh.config -q narvi-install.cc.tut.fi -W %h:%p

# admin

Host admin
	Hostname narvi-admin.cc.tut.fi

Host narvi-admin.cc.tut.fi
        User root
        IdentityFile ~kipa/.ssh/id_rsa-tcsc-r

