# {{ ansible_managed }}

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for item in hosts_file_admin_group_to_populate %}
{{ hostvars[item].int_ip_addr }} {{ siteName }}-admin.{{ intDomain }} {{ siteName }}-admin
{{ hostvars[item].ext_ip_addr }} {{ item }}-admin.{{ siteDomain }}
{% endfor %}

{% for item in hosts_file_grid_group_to_populate %}
{{ hostvars[item].int_ip_addr }} {{ siteName }}-grid.{{ intDomain }} {{ siteName }}-grid
{{ hostvars[item].ext_ip_addr }} {{ item }}.{{ siteDomain }}
{% endfor %}

{% for item in hosts_file_install_group_to_populate %}
{{ hostvars[item].int_ip_addr }}  {{ siteName }}-install.{{ intDomain }} {{ siteName }}-install
{{ hostvars[item].ext_ip_addr }} {{ item }}.{{ siteDomain }}
{% endfor %}

{% for item in hosts_file_login_group_to_populate %}
{{ hostvars[item].int_ip_addr }} {{ item }}.{{ intDomain }} {{ item }} 
{{ hostvars[item].ext_ip_addr }} {{ item }}.{{ siteDomain }}
{% if hostvars[item].ib_ip_addr is defined %}
{{ hostvars[item].ib_ip_addr }} {{ item }}-ib.{{ intDomain }} {{ item }}-ib
{% endif %}
{% endfor %}

{% for item in hosts_file_extra_group_to_populate %}
{% if hostvars[item].int_ip_addr is defined %}
{{ hostvars[item].int_ip_addr }} {{ item }}.{{ intDomain }} {{ item }}
{% endif %}
{% if hostvars[item].ib_ip_addr is defined %}
{{ hostvars[item].ib_ip_addr }} {{ item }}-ib {{ item }}-ib.{{ intDomain }}.{{ siteDomain }}
{% endif %}
{% endfor %}

# All the rest
{# for item in hosts_file_pxe_group_to_populate #}
{% for item in groups.all %}
{% if hostvars[item].int_ip_addr is defined %}
{{ hostvars[item].int_ip_addr }} {{ item }}.{{ intDomain }} {{ item }}
{% endif %}
{% if hostvars[item].ib_ip_addr is defined %}
{{ hostvars[item].ib_ip_addr }} {{ item }}-ib.{{ intDomain }} {{ item }}-ib
{% endif %}
{% if hostvars[item].ext_ip_addr is defined %}
{{ hostvars[item].ext_ip_addr }} {{ item }}
{% endif %}
{% endfor %}

